

	<header>
		<nav>
					<div class="logo-nav"><img src="/html/logo.png"></div>
					<div class="nav-item"><a href="/menu" class="nav-link">Menu</a></div>
					<div class="nav-item"><a href="/admin" class="nav-link">Admin</a></div>		
					
		</nav>
	</header>
 
  
<section id="main_section">
		<div id="divImg"><img src='/{{src}}'></div>
		<div id="info">
			<h2>{{name}}</h2>
			<p>{{description}}</p>
			<h2>${{price}}</h2>
		</div>
	</section>


    <footer>
		<p>Cakes & Bakes</p>
		<div id="contacts">
			<a href="#" class="fa fa-facebook"></a>
			<a href="#" class="fa fa-instagram"></a>
		</div>
	

	</footer>